.bulb {
  display: block;
  position: absolute;
  height: 20vh;
  width: 25vh;
  left: calc( 50vw - 12.5vh );
  top: 80%;
  background-color: rgba(255, 255, 255, .9);
  border-radius: 90px 90px 50px 50px;
  -webkit-animation: glow 2s infinite linear;
  animation: glow 2s infinite linear;
}

@-webkit-keyframes glow {
  from {
    box-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 11px #fff, 0 0 14px #fff, 0 0 17px #fff, 0 0 20px #fff, 0 0 23px #fff, 0 0 30px #fff;
  }

  50% {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #fff, 0 0 80px #fff, 0 0 100px #fff, 0 0 150px #fff;
  }

  to {
    box-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 11px #fff, 0 0 14px #fff, 0 0 17px #fff, 0 0 20px #fff, 0 0 23px #fff, 0 0 30px #fff;
  }

}

@keyframes glow {
  from {
    box-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 11px #fff, 0 0 14px #fff;
  }

  50% {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff;
  }

  to {
    box-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 11px #fff, 0 0 14px #fff;
  }
}

.crystal_ball{
  display: block;
  position: absolute;
  height: 4vh;
  left: calc( 50vw - 2vh);
  top: 90%;
}
