.bulb {
  height: 25vh;
  width: 25vh;
  left: 10vh;
  margin-left: 7vh;
  margin-top: 7vh;
  background-color: rgba(255, 255, 255, .9);
  border-radius: 90px 90px 90px 90px;
  -webkit-animation: glow 2s infinite linear;
  animation: glow 2s infinite linear;
}

.bulbcontainer {
  display: block;
  position: absolute;
  height: 27vh;
  width: 40vh;
  left: calc( 50vw - 19.5vh );
  top: 73%;
  overflow: hidden;
}

@keyframes glow {
  from {
    box-shadow: 0 0 1vh #fff, 0 0 2vh #fff, 0 0 3vh #fff, 0 0 4vh #fff;
  }

  50% {
    box-shadow: 0 0 2vh #fff, 0 0 4vh #fff, 0 0 6vh #fff, 0 0 8vh #fff;
  }

  to {
    box-shadow: 0 0 1vh #fff, 0 0 2vh #fff, 0 0 3vh #fff, 0 0 4vh #fff;
  }
}

.crystal_ball{
  display: block;
  position: absolute;
  height: 4vh;
  left: calc( 50vw - 2vh);
  top: 90%;
}
