@import url(http://weloveiconfonts.com/api/?family=fontawesome);

body {
	background: white;
	color: black;
}

table {
    border-collapse: collapse;
}

.daytime {
    vertical-align: top;
    margin-top: -0.7em;
}

tr.timeline td {
    padding: 5vh;
}

td.borderRight {
    border-right: thick solid #9C9C9C;
    text-align: right;
    width: 50%;
    font-family: monaco,Consolas,Lucida Console,monospace;
    color: #4A4A4A;
    font-size: 25px;
    font-weight: bold;
    font-variant: normal;
    line-height: 20px;
}

.category1 {
    opacity: 0.5;
}

.category2 {
    opacity: 0.5;
}

.category3 {
    opacity: 0.5;
}

.category4 {
    opacity: 0.5;
}

.category5 {
    opacity: 0.5;
}

tr.timeline:hover .category1 {
    opacity: 1;
    font-size: 28px;
    color: #3C93B0;
}

tr.timeline:hover .category2 {
    opacity: 1;
    font-size: 28px;
    color: #833CB0;
}

tr.timeline:hover .category3 {
    opacity: 1;
    font-size: 28px;
    color: #C92639;
}

tr.timeline:hover .category4 {
    opacity: 1;
    font-size: 28px;
    color: #32BF36;
}

tr.timeline:hover .category5 {
    opacity: 1;
    font-size: 28px;
    color: #E5EB3D;
}

.circle {
	border: solid;
	display : inline-block;
	margin-left: -2.7em;
	border-radius: 10em;
	height: 1em;
	width: 1em;
	background-color: white;
	vertical-align: top;
	margin-top: 0.5em;
}

.ev {
	display : inline-block;
	margin-left: 1em;
	padding: 0.5em;
	border-radius: 1em;
	vertical-align: top;
        background-color: #BBBBBB;
        opacity: 0.5;
}

tr.timeline:hover .ev {
	color: #FFFFFF;
}

tr.timeline:hover .ev-cat1 {
	background-color: #3C93B0;
        opacity: 1;
}
tr.timeline:hover .ev-cat2 {
	background-color: #833CB0;
        opacity: 1;
}
tr.timeline:hover .ev-cat3 {
	background-color: #C92639;
        opacity: 1;
}
tr.timeline:hover .ev-cat4 {
	background-color: #32BF36;
        opacity: 1;
}
tr.timeline:hover .ev-cat5 {
	background-color: #E5EB3D;
        opacity: 1;
}
.inner-circle {
	display: inline-block;
	height: 0.5em;
	width: 0.5em;
	background-color: white;
	margin-left: 0.25em;
	margin-bottom: 0.18em;
	border-radius: 10em;
}

tr.timeline:hover .cat1 {
	background-color: #3C93B0;
}
tr.timeline:hover .cat2 {
	background-color: #833CB0;
}
tr.timeline:hover .cat3 {
	background-color: #C92639;
}
tr.timeline:hover .cat4 {
	background-color: #32BF36;
}
tr.timeline:hover .cat5 {
	background-color: #E5EB3D;
}
